
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}


#game-board {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-gap: 10px;
  margin: 20px 0;
}


.card {
  width: 80px;
  height: 80px;
  background-color: #f8f8f8;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card.matched {
  background-color: #a3e635; /* Cambia a verde cuando hay coincidencia */
}

.card:hover {
  background-color: #e2e8f0; /* Efecto hover */
}


.info {
  text-align: center;
}

#reset-button {
  padding: 5px 10px;
  background-color: #4299e1;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#reset-button:hover {
  background-color: #2b6cb0;
}